<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/adminpage.css' %}">
    <title>MVGR(A) ADMIN</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/college_logo.png">
</head>
<body>
<header>
    <div id="college_title">
        <div id="college_logo">
            <a href="https://www.mvgrce.com/" target="_blank">
                <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
            </a>
        </div>
        <div id="college_sub_title">
            <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
            <h1 id="title_name">Feedback Management</h1>
        </div>
    </div>
    <div class="navbar-in-admin">
        <ul>
            <li><a class="nav-link active" href="{% url 'adminpage' %}"><span></span>Departments</a></li>
            <li><a class="nav-link" href="{% url 'adminfaculty' %}"><span>Faculty</span></a></li>
            <li><a class="nav-link" href="{% url 'adminstudents' %}"><span></span>Students</a></li>
            <li><a class="nav-link" href="{% url 'adminfeedback' %}"><span>Feedback</span></a></li>
        </ul>
    </div>
</header>
<main>
    <marquee id="text_scroll" behavior="scroll" direction="right to left" style="padding:5px 0 5px 0px;font-weight: 100;background-color:ghostwhite;">Only names can be edited after creation...</marquee>
    <div class="subnav">
        <div class="addbranches">
            <button id="addbranchesbutton" onclick="showAddDepartmentForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="10" fill="none" stroke="currentColor" stroke-width="2"/>
                    <path d="M12 7v10M7 12h10" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
                <span>Add Department</span>
            </button>
        </div>
        
        <div class="logoutbutton" onclick="window.location.href='{% url 'adminlogout' %}'">
            <button id="logout-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" onclick="window.location.href='{% url 'adminlogout' %}'">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                <polyline points="16 17 21 12 16 7" />
                <line x1="21" y1="12" x2="9" y2="12" />
            </svg>
            <span>Logout</span></button>
        </div>
    </div>
    
    <div class="overlay">
        <div id="adddepartmentsform-container" class="adddepartmentsform-container hidden">
            <svg id="closebtn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" onclick="hideAddDepartmentForm()">
                <circle cx="12" cy="12" r="10" />
                <line x1="15" y1="9" x2="9" y2="15" />
                <line x1="9" y1="9" x2="15" y2="15" />
            </svg>
            <form method="post" enctype="multipart/form-data" id="adddepartmentform" action="{% url 'adddepartments' %}">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="adddepartmentsform">
                <div id="form-row">
                    <label for="departmentname">Department Name : </label>
                    <input type="text" name="departmentname" id="departmentname" placeholder="Department Name" required>
                </div>
                <div id="form-row">
                    <label for="departmentcode">Department Code : </label>
                    <input type="text" name="departmentcode" id="departmentcode" placeholder="Department Code" required>
                </div>
                <div id="form-row">
                    <label for="departmentimage">Department Logo : </label>
                    <input type="file" name="departmentimage" id="departmentimage">
                </div>
                <div class="button-container"> 
                    <button type="submit" id="adddepartmentbutton">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="departmentslist">
        <p>Departments</p>
        <div class="departmenttablecontainer">
            <table id="Departmenttable">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Code</th>
                        <th>Logo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
    
                </tbody>
            </table>
        </div>
    </div>
</main>
<script>
function showAddDepartmentForm() {
    document.getElementById('adddepartmentsform-container').classList.remove('hidden');
    document.querySelector('.overlay').classList.add('active');
}
function hideAddDepartmentForm() {
    document.getElementById('adddepartmentsform-container').classList.add('hidden');
    document.querySelector('.overlay').classList.remove('active');
}
function getdepartments() {
    fetch('/getdepartments/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        const departmentTableBody = document.querySelector('#Departmenttable tbody');
        departmentTableBody.innerHTML = '';
        data.forEach(department => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td contenteditable="true" style="max-width:150px;" id="department_name_${department.code}">${department.name}</td>
                <td id="department_code_${department.code}">${department.code}</td>
                <td>${department.logo ? `<img src="${department.logo}" alt="${department.name} Logo" height="50">` : 'N/A'}</td>
                <td><button onclick="saveChanges('${department.code}')" class="save-button">
                    
                    Save</button></td>
                <td>
                    <button onclick="deleteDepartment('${department.code}')" class="delete-button">
                        <svg style="margin-right: 3px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="h-5 w-5 shrink-0">
                            <path fill="currentColor" fill-rule="evenodd" d="M10.556 4a1 1 0 0 0-.97.751l-.292 1.14h5.421l-.293-1.14A1 1 0 0 0 13.453 4zm6.224 1.892-.421-1.639A3 3 0 0 0 13.453 2h-2.897A3 3 0 0 0 7.65 4.253l-.421 1.639H4a1 1 0 1 0 0 2h.1l1.215 11.425A3 3 0 0 0 8.3 22H15.7a3 3 0 0 0 2.984-2.683l1.214-11.425H20a1 1 0 1 0 0-2zm1.108 2H6.112l1.192 11.214A1 1 0 0 0 8.3 20H15.7a1 1 0 0 0 .995-.894zM10 10a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0v-5a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0v-5a1 1 0 0 1 1-1" clip-rule="evenodd"></path>
                        </svg>
                        Delete
                    </button>
                </td>
            `;
            departmentTableBody.appendChild(row);
            const departmentNameCell = row.querySelector(`#department_name_${department.code}`);
            departmentNameCell.addEventListener('input', () => {
                department.name = departmentNameCell.textContent.trim();
            });
        });
    })
    .catch(error => {
        console.error('Error fetching departments:', error);
    });
}
document.getElementById('adddepartmentform').addEventListener('submit', function(event) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);

    fetch(form.action, {
        method: form.method,
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Department added successfully.');
            form.reset();
            document.querySelector('.overlay').classList.remove('active');
            getdepartments();
        } else {
            alert('Failed to add department: ' + data.error);
        }
    })
    .catch(error => {
        console.error('Error adding department:', error);
        alert('Error adding department. Please try again later.');
    });
});
function saveChanges(departmentCode) {
    const departmentNameElement = document.querySelector(`#department_name_${departmentCode}`);
    const departmentName = departmentNameElement.textContent.trim();
    if (departmentName === "") {
        alert("Department name must be filled out");
        getdepartments();
        return;
    }
    fetch('/savedepartmentchanges/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({ department_code: departmentCode, department_name: departmentName })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }
        return response.json();
    })
    .then(data => {
        if(data.success){
            alert('Changes saved successfully');
            getdepartments();
        }
        else{
            alert('Unable to save changes.');
        }
    })
    .catch(error => {
        console.error('Error saving changes:', error);
        alert('Error saving changes. Please try again later.');
    });
}
function deleteDepartment(departmentCode){
    fetch('/deletedepartment/',{
        method:'POST',
        headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body:JSON.stringify({department_code: departmentCode})
    })
    .then(response=>{
        if(!response.ok){
            throw new Error('Network response was not ok.');
        }
        return response.json();
    })
    .then(data=>{
        if(data.success){
            alert('Deleted Successfully.');
            getdepartments();
        }
        else{
            alert('Failed to delete.');
        }
    })
    .catch(error=>{
        console.error('Error saving changes:', error);
        alert('Error saving changes. Please try again later.');
    });
}
document.addEventListener('DOMContentLoaded', () => {
    getdepartments();
});
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
</body>
</html>
