<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/adminpage.css' %}">
    <link rel="stylesheet" href="{% static '/css/adminstudent.css' %}">
    <link rel="stylesheet" href="{% static 'css/loaderstyles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    <title>MVGR(A) ADMIN</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/college_logo.png">
</head>
<body>
<header>
    <div id="college_title">
        <div id="college_logo">
            <a href="https://www.mvgrce.com/" target="_blank">
                <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
            </a>
        </div>
        <div id="college_sub_title">
            <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
            <h1 id="title_name">Feedback Management</h1>
        </div>
    </div>
    <div class="navbar-in-admin">
        <ul>
            <li><a class="nav-link" href="{% url 'adminpage' %}"><span></span>Departments</a></li>
            <li><a class="nav-link" href="{% url 'adminfaculty' %}"><span>Faculty</span></a></li>
            <li><a class="nav-link" href="{% url 'adminhod' %}"><span>Hod</span></a></li>
            <li><a class="nav-link" href="{% url 'adminstudents' %}"><span></span>Students</a></li>
            <li><a class="nav-link active" href="{% url 'adminfeedback' %}"><span>Feedback</span></a></li>
        </ul>
    </div>
</header>
<main>
    <div id="loading-spinner" class="spinner-overlay" style="display: none;">
        <div class="spinner"></div>
    </div>
    <div class="subnav">
        <div class="addbranches" style="display: flex;align-items: center;">
            <button id="addbranchesbutton" onclick="showfeedbackForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="10" fill="none" stroke="currentColor" stroke-width="2"/>
                    <path d="M12 7v10M7 12h10" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
                <span>Create Feedback</span>
            </button>
            <div class="addbranches">
                <button id="downloadfeedback" onclick="showDownloadFeedbackForm()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-arrow-down" viewBox="0 0 16 16">
                        <path d="M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5"/>
                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                    </svg>
                    <span>Download Feedback</span>
                </button>
            </div>
        </div>
        <div class="logoutbutton" onclick="window.location.href='{% url 'adminlogout' %}'">
            <button id="logout-button" onclick="window.location.href='{% url 'adminlogout' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                    <polyline points="16 17 21 12 16 7" />
                    <line x1="21" y1="12" x2="9" y2="12" />
                </svg>
                <span>Logout</span>
            </button>
        </div>
    </div>
    <div class="overlay-container"> 
        <div id="addfeedbackform-container" class="form-container hidden">
            <svg id="closebtn" class="close-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" onclick="hidefeedbackForms()">
                <circle cx="12" cy="12" r="10" />
                <line x1="15" y1="9" x2="9" y2="15" />
                <line x1="9" y1="9" x2="15" y2="15" />
            </svg>
            <form method="post" id="addfeedbacksform" action="{% url 'addfeedbackexam' %}"> 
                {% csrf_token %}
                <input type="hidden" name="form_type" value="addfeedbacksform">
                <div class="form-row">
                    <label for="examname">Exam Name</label>
                    <input type="text" name="examname" id="examname" placeholder="Exam Name" required>
                </div>
                <div class="form-row">
                    <label for="examcode">Exam Code</label>
                    <input type="text" name="examcode" id="examcode" placeholder="Exam Code" required>
                </div>
                <div class="form-row">
                    <label for="maximumoptions">Maximum Options</label>
                    <input type="number" name="maximumoptions" id="maximumoptions" placeholder="Maximum Options" required>
                </div>
                <div class="button-container"> 
                    <button type="submit" id="addfeedbackbutton">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay-container download"> 
        <div id="downloadfeedback-container" class="form-container hidden">
            <svg id="closebtn" class="close-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" onclick="hideDownloadFeedbackForm()">
                <circle cx="12" cy="12" r="10" />
                <line x1="15" y1="9" x2="9" y2="15" />
                <line x1="9" y1="9" x2="15" y2="15" />
            </svg>
           <form method="post" id="downloadoverallreportform">
                {% csrf_token %}
                
               <div class="form-row">
                   <label for="year">Year</label>
                   <select name="year" id="year" required style="height: auto;border-color: #000;">
                       <option value="" disabled selected>Select a Year</option>
                   </select>
               </div>
               <div class="form-row"  id="branch-container" style="display:none">
                   <label for="branch">Branch</label>
                  <select name="branch" id="branch" disabled required style="height: auto;border-color: #000;">
                       <option value="" disabled selected>Select a Branch</option>
                   </select>
               </div>
              <div class="form-row" id="section-container" style="display:none">
                   <label for="section">Section</label>
                    <select name="section" id="section" disabled required style="height: auto;border-color: #000;">
                       <option value="" disabled selected>Select a Section</option>
                   </select>
               </div>
               <div class="form-row">
                   <label for="mid">Mid</label>
                   <select name="mid" id="mid" style="height: auto;border-color: #000;">
                       <option value="" selected disabled>Select Mid</option>
                       <option value="1">Mid-1</option>
                       <option value="2">Mid-2</option>
                   </select>
               </div>
               <div class="button-container"> 
                    <button type="submit" id="downloadfeedbackbtn" >Download</button>
               </div>
           </form>
        </div>
    </div>
    <div class="editfeedback" id="editfeedbackContainer" style="display: none;">
        <div id="editbutton"> 
            <span class="move-right" onclick="toggleSections()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
                  </svg>Done 
            </span>
        </div> 
        <div class="editfeedback-table">
            <table id="editfeedback">
                <thead>
                    <tr>
                        <th>Exam Code</th>
                        <th>Exam Name</th>
                        <th>Maximum options</th>
                        <th></th> 
                        <th></th> 
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="showfeedback" id="showfeedbackContainer">
        <div id="editbutton" > 
            <span class="move-right" onclick="toggleSections()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/> 
                  </svg>Edit 
            </span>
        </div>
        <p>Feedback</p>
        <div id="feedback">
            
        </div>
    </div>
    <div id="message-overlay">
    </div>
</main>
<script>
    function showDownloadFeedbackForm(){
        document.getElementById('downloadfeedback-container').classList.remove('hidden');
        document.querySelector('.overlay-container.download').style.display = 'block';
        loadYears();
    }
    function hideDownloadFeedbackForm(){
        document.getElementById('downloadfeedback-container').classList.add('hidden');
        document.querySelector('.overlay-container.download').style.display = 'none';
         const yearSelect = document.getElementById('year');
        const branchContainer = document.getElementById('branch-container');
        const branchSelect = document.getElementById('branch');
        const sectionContainer = document.getElementById('section-container');
        const sectionSelect = document.getElementById('section');
        yearSelect.innerHTML = '<option value="" disabled selected>Select a Year</option>';
        branchContainer.style.display = 'none';
        branchSelect.disabled = true;
        branchSelect.innerHTML = '<option value="" disabled selected>Select a Branch</option>';
        sectionContainer.style.display = 'none';
        sectionSelect.disabled = true;
        sectionSelect.innerHTML = '<option value="" disabled selected>Select a Section</option>';
    }
    function showfeedbackForm() {
        document.getElementById('addfeedbackform-container').classList.remove('hidden');
        document.querySelector('.overlay-container').style.display = 'block';
    }
    function hidefeedbackForms(){
        document.getElementById('addfeedbackform-container').classList.add('hidden');
        document.querySelector('.overlay-container').style.display='none';
    }    
    function toggleSections() {
        const showfeedbackDiv = document.getElementById('showfeedbackContainer');
        const editfeedbackDiv = document.getElementById('editfeedbackContainer');
        showfeedbackDiv.style.display = showfeedbackDiv.style.display === 'none' ? 'block' : 'none';
        editfeedbackDiv.style.display = editfeedbackDiv.style.display === 'block' ? 'none' : 'block';
    }
    function getactivefeedbackexams() {
        showSpinner();
        fetch('/getactivefeedbackexams/', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
        const feedbackContainer = document.getElementById('feedback');
        feedbackContainer.innerHTML = ''; 

        if (data.length === 0) {
            hideSpinner();
            feedbackContainer.innerHTML = '<p>No Exams found at this time.</p>';
        } else {
            hideSpinner();
            data.forEach(exam => {
                const feedbackDiv = document.createElement('div');
                feedbackDiv.className = 'feedback';
                feedbackDiv.innerHTML = `
                    <div class="image-name-group">
                        <span>${exam.exam_name}</span>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M9 18l6-6-6-6" />
                    </svg>
                `;
                feedbackContainer.appendChild(feedbackDiv);
                feedbackDiv.addEventListener('click', () => {
                    redirectToAddquestionsPage(exam.exam_code);
            });
        });
            populateEditTable(data); 
        }
        })
        .catch(error => {
        console.error('Error fetching exams:', error);
        hideSpinner();
        });
    }
    function redirectToAddquestionsPage(Examcode) {
        if (!Examcode) {
            console.error('Examcode is not defined');
            return;
        }
        const url = new URL('/adminaddquestions.html', window.location.origin);
        url.searchParams.append('exam_code', Examcode);
        window.location.href = url.href;
    }
    function populateEditTable(data) {
        const editTableBody = document.querySelector('#editfeedback tbody');
        editTableBody.innerHTML = '';
        if (data.length !== 0) {
            data.forEach(exam => {
                const row = document.createElement('tr');
                    row.innerHTML = `
                    <td>${exam.exam_code}</td>
                    <td contenteditable="true" id="exam_name_${exam.exam_code}">${exam.exam_name}</td>
                    <td>${exam.maximumoptions}</td>
                    <td><button onclick="saveexamchanges('${exam.exam_code}')" class="save-button">Save</button></td>
                    <td>
                        <button onclick="deleteexam('${exam.exam_code}')" class="delete-button">
                            <svg style="margin-right: 3px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="h-5 w-5 shrink-0">
                            <path fill="currentColor" fill-rule="evenodd" d="M10.556 4a1 1 0 0 0-.97.751l-.292 1.14h5.421l-.293-1.14A1 1 0 0 0 13.453 4zm6.224 1.892-.421-1.639A3 3 0 0 0 13.453 2h-2.897A3 3 0 0 0 7.65 4.253l-.421 1.639H4a1 1 0 1 0 0 2h.1l1.215 11.425A3 3 0 0 0 8.3 22H15.7a3 3 0 0 0 2.984-2.683l1.214-11.425H20a1 1 0 1 0 0-2zm1.108 2H6.112l1.192 11.214A1 1 0 0 0 8.3 20H15.7a1 1 0 0 0 .995-.894zM10 10a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0v-5a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0v-5a1 1 0 0 1 1-1" clip-rule="evenodd"></path>
                        </svg>
                        Delete 
                        </button>
                    </td>
                    `;
                    editTableBody.appendChild(row);
            });
        }   
        else {
            const row = document.createElement('tr');
            row.innerHTML = '<td colspan="4">No Active Exams found found.</td>';
            editTableBody.appendChild(row);
        }
    }
    function saveexamchanges(examCode) {
        const newName = document.getElementById(`exam_name_${examCode}`).innerText;
        showSpinner();
        fetch('/updateexam/', { 
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ 
            exam_code: examCode,
            new_name: newName
            })
        })
        .then(response => {
            hideSpinner();
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
        })
        .then(data => {
            hideSpinner();
        if (data.success) {
            showMessage('Exam updated successfully.','success');
            getactivefeedbackexams();
            hideSpinner();
        } else {
            showMessage(data.error,'error');
        }
        })
        .catch(error => {
            
        console.error('Error updating exam:', error);
        showMessage(data.error,'error');
        hideSpinner();
        });
    }
    function deleteexam(examCode) {
        if (confirm("Are you sure you want to delete this exam? This action cannot be undone.")) {
            showSpinner();
            fetch('/deleteExam/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({exam_code: examCode}) 
            })
            .then(response => {
                hideSpinner();
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                    hideSpinner();
                }
                return response.json(); 
            })
            .then(data => {
                hideSpinner();
                if (data.success) {
                    showMessage('Deleted successfully.','delete');
                    getactivefeedbackexams();
                } else {
                    showMessage(data.error,'error');
                }
            })
            .catch(error => {
                console.error('Error deleting exam:', error); 
                showMessage(data.error,'error');
                hideSpinner();
            });
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        getactivefeedbackexams(); 
    });

    document.getElementById('addfeedbacksform').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form); 
        showSpinner();
        fetch(form.action, { 
            method: form.method,
            headers: {
            'X-CSRFToken': getCookie('csrftoken')
            },
            body: formData 
        })
        .then(response => response.json()) 
        .then(data => {
            hideSpinner();
        if (data.success) {
            showMessage('Exam created successfully.','success');
            form.reset(); 
            document.querySelector('.overlay-container').style.display = 'none';
            getactivefeedbackexams(); 
        } else {
            showMessage(data.error,'error');
        }
        })
        .catch(error => {
        console.error('Error adding Exam:', error);
        showMessage(data.error,'error');
        hideSpinner();
        });
    });
    function loadYears() {
         showSpinner();
         fetch('/getyears/', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
                 'X-CSRFToken': getCookie('csrftoken')
             }
         })
         .then(response => response.json())
         .then(data => {
            hideSpinner();
             const yearSelect = document.getElementById('year');
            yearSelect.innerHTML = '<option value="" disabled selected>Select a Year</option>';
             data.forEach(year => {
                 const option = document.createElement('option');
                 option.value = year.year_number;
                 option.textContent = `${year.year_number} Year - ${year.year_name}`;
                 yearSelect.appendChild(option);
             });
         })
         .catch(error => {
             console.error('Error fetching years:', error);
             showMessage('Error loading years.','error');
             hideSpinner();
         });
     }
     document.getElementById('year').addEventListener('change', function() {
        const selectedYear = this.value;
        const branchContainer = document.getElementById('branch-container');
        const branchSelect = document.getElementById('branch');
        const sectionContainer = document.getElementById('section-container');
        const sectionSelect = document.getElementById('section');
        if (selectedYear) {
              showSpinner();
              fetch('/getbranches/', {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/json',
                     'X-CSRFToken': getCookie('csrftoken')
                     },
                     body: JSON.stringify({ year_number: selectedYear })
             })
             .then(response => response.json())
             .then(data => {
                hideSpinner();
                branchContainer.style.display = 'flex';
                branchSelect.disabled = false;
                branchSelect.innerHTML = '<option value="" disabled selected>Select a Branch</option>';
                if (data.length === 0) {
                    branchSelect.innerHTML = '<option value="" disabled selected>No Branches found</option>';
                }
                else{
                    data.forEach(branch => {
                        const option = document.createElement('option');
                        option.value = branch.code;
                        option.textContent = `${branch.name} (${branch.code})`;
                        branchSelect.appendChild(option);
                    });
                 }

             })
              .catch(error => {
                console.error('Error fetching branches:', error);
                showMessage('Error fetching branches.','error')
                 hideSpinner();
             });
        } else {
            branchContainer.style.display = 'none';
            branchSelect.disabled = true;
            branchSelect.innerHTML = '<option value="" disabled selected>Select a Branch</option>';
             sectionContainer.style.display = 'none';
             sectionSelect.disabled = true;
            sectionSelect.innerHTML = '<option value="" disabled selected>Select a Section</option>';
        }
});

    document.getElementById('branch').addEventListener('change', function() {
        const selectedBranch = this.value;
        const sectionContainer = document.getElementById('section-container');
        const sectionSelect = document.getElementById('section');
        const selectedYear = document.getElementById('year').value; 

        if(selectedBranch){
            showSpinner();
            fetch('/getsections/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({ branch_code: selectedBranch,year_number: selectedYear })
            })
            .then(response => response.json())
            .then(data => {
                hideSpinner();
                sectionContainer.style.display = 'flex';
                 sectionSelect.disabled = false;
                sectionSelect.innerHTML = '<option value="" disabled selected>Select a Section</option>';
                if (data.length === 0) {
                    sectionSelect.innerHTML = '<option value="" disabled selected>No Sections found</option>';
                }
                else {
                   data.forEach(section => {
                        const option = document.createElement('option');
                        option.value = section.section_number;
                        option.textContent = section.section_name;
                        sectionSelect.appendChild(option);
                    });
                 }
            })
             .catch(error => {
                 console.error('Error fetching sections:', error);
                showMessage('Error fetching sections','error')
                hideSpinner();
             });
            }
        else {
            sectionContainer.style.display = 'none';
            sectionSelect.disabled = true;
            sectionSelect.innerHTML = '<option value="" disabled selected>Select a Section</option>';
        }

    });
    document.getElementById('downloadoverallreportform').addEventListener('submit', function(event) {
        event.preventDefault();

        const selected_mid = document.getElementById('mid').value; 
        const selectedYear = document.getElementById('year').value;
        const selectedBranch = document.getElementById('branch').value;
        const selectedSection = document.getElementById('section').value;

        const yearNumber = selectedYear;
        const branchCode = selectedBranch;
        const sectionNumber = selectedSection;


        showSpinner();
        fetch('/downloadoverallreport/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                'year_number': yearNumber,
                'branch_code': branchCode,
                'section_number': sectionNumber,
                'selected_mid': selected_mid
            })
        })
            .then(response => {
                hideSpinner();
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const contentDisposition = response.headers.get('Content-Disposition');
                const filename = contentDisposition.split('filename=')[1].replace(/['"]/g, '');
                return response.blob().then(blob => ({ blob, filename }));

            })
            .then(({ blob, filename }) => {
                hideSpinner();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
                hideDownloadFeedbackForm();
            })
            .catch(error => {
                console.error('Error downloading report:', error);
                showMessage('An error occurred.','warning');
                hideSpinner();
            });
    });
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
            }
        }
        return cookieValue;
    }
</script>
</body>
</html>
