<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/adminpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminfaculty.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminstudent.css' %}">
    <link rel="stylesheet" href="{% static 'css/loaderstyles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    <title>MVGR(A) Feedback HOD</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/college_logo.png">
</head>
<style>
    .subnav{
        margin-bottom: 50px;
    }
    .welcome-message{
        margin-left: 30px;
    }
</style>
<body>
<header>
    <div id="college_title">
        <div id="college_logo">
            <a href="https://www.mvgrce.com/" target="_blank">
                <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
            </a>
        </div>
        <div id="college_sub_title">
            <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
            <h1 id="title_name">Feedback Management</h1>
        </div>
    </div>
</header>
<main>
    <div id="loading-spinner" class="spinner-overlay" style="display: none;">
        <div class="spinner"></div>
    </div>
    <div class="subnav">
        <div class="logoutbutton" onclick="window.location.href='{% url 'hodlogout' %}'">
            <button id="logout-button" onclick="window.location.href='{% url 'hodlogout' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                    <polyline points="16 17 21 12 16 7" />
                    <line x1="21" y1="12" x2="9" y2="12" />
                </svg>
                <span>Logout</span>
            </button>
        </div>
    </div>
    {% if faculty_name %}
    <div class="welcome-message">
      <h2>Hello, {{ faculty_name }}</h2> 
    </div>
    {% endif %}
    <div class="showyear" id="showyearContainer">
        <div id="years">

        </div>
    </div>
</main>
<script>
    function showAddyearForm() {
        document.getElementById('addyearform-container').classList.remove('hidden');
        document.querySelector('.overlay').classList.add('active');
    }

    function hideAddyearForm() {
        document.getElementById('addyearform-container').classList.add('hidden');
        document.querySelector('.overlay').classList.remove('active');
    }
    function toggleyear() {
            const showyearDiv = document.getElementById('showyearContainer');
            const edityearDiv = document.getElementById('edityearContainer');

            showyearDiv.style.display = showyearDiv.style.display === 'none' ? 'block' : 'none';
            edityearDiv.style.display = edityearDiv.style.display === 'block' ? 'none' : 'block';
    }
    function redirectToBranchesPage(yearNumber) {
        const facultyId = "{{ register_number }}";
        window.location.href = `/hodbranches/?year=${yearNumber}&faculty_id=${facultyId}`;
    }
     function getyears() {
        showSpinner();
         fetch('/hodgetyears/', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
                 'X-CSRFToken': getCookie('csrftoken')
             }
         })
         .then(response => response.json())
         .then(data => {
            hideSpinner();
             const yearsContainer = document.getElementById('years');
             yearsContainer.innerHTML = ''; 

             if (data.length === 0) {
                 yearsContainer.innerHTML = '<p>No Years found.</p>';
                 hideSpinner();
             } else {
                hideSpinner();
                 data.forEach(year => {
                     const yearDiv = document.createElement('div');
                     yearDiv.className = 'year';
                     yearDiv.innerHTML = `
                         <div class="image-name-group">
                             <span>${year.year_number} Year - ${year.year_name}</span>
                         </div>
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                         <path d="M9 18l6-6-6-6" />
                         </svg>
                     `;
                     yearDiv.addEventListener('click', () => {
                         redirectToBranchesPage(year.year_number);
                     });
                     yearsContainer.appendChild(yearDiv);
                 });
                 
             }
         })
         .catch(error => {
             console.error('Error fetching years:', error);
             hideSpinner();
         });
     }
    document.addEventListener('DOMContentLoaded', () => {
        getyears();
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
</body>
</html>
