# Django SECRET_KEY (Generate a secure one for production)
SECRET_KEY=django-insecure-2n=ks6h*a185(uv)vjwo!f42mhj)$^@0w!^ms!we7q3jm=9os*

# Debug mode (True for development, False for production)
DEBUG=True

# Allowed hosts (Comma-separated list)
ALLOWED_HOSTS=localhost,127.0.0.1,*
